@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.navbar {
  flex-direction: column;
  display: flex;
  height: 326px;
  padding: 40px 15px;
  align-items: center;
}

.content-wrapper {
  justify-content: space-between;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.navbar {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSq3v0jJMqJPc1BXje9sAMmcv5lAA-E7ykgH90YKRUz-Q&s=10");
}

.navbar .logo {
  color: rgb(139, 189, 247);
  height: 40px;
  width: 150px;
}

.navbar .links {
  width: 100%;
  max-width: 430px;
  align-items: center;
  justify-content: space-between;
  display: flex;
}

.navbar .link {
  position: relative;
}

.navbar a {
  text-decoration: none;
  color: rgb(151, 194, 240);
}

.btn-contact {
  display: flex;
  max-height: 48px;
  min-height: 48px;
  padding: 12px 40px;
  align-items: center;
  font-size: 13px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: all 0.35s ease;
  border: 2px rgb(35, 87, 255);
  cursor: pointer;
  border-radius: 50px;
  background-color: #2353ee;
  color: #fff;
}

.btn__menu {
  background-color: transparent;
  font-size: 40px;
  border: none;
  color: #5396fa;
  display: none;
}

.menu__backdrop {
  position: absolute;
  background-color: #242424;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  transition: all 300ms ease;
  opacity: 0;
  transform: translate(100%);
}

.menu--open {
  max-height: 200vh;
  overflow: hidden;
}

.menu--open .menu__backdrop {
  visibility: visible;
  opacity: 1;
  transform: translate(0);
}

.menu__links {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.menu__list {
  padding: 32px 0;
}

.menu__link {
  color: white;
  font-size: 40px;
}

.btn__menu--close {
  position: absolute;
  top: 10px;
  right: 20px;
  padding: 8px;
  color: white;
}

.headline {
  font-weight: 500;
  text-align: center;
  letter-spacing: 0.1em;
  max-width: 1000px;
  margin-bottom: 40px;
  color: #5da9f0;
  line-height: 1.25;
  justify-content: center;
  display: flex;
  align-items: center;
}

.input-wrap {
  width: 100%;
  max-width: 800px;
  position: relative;
  overflow: hidden;
  justify-content: center;
  display: flex;
  align-items: center;
}

input {
  color: rgba(0, 0, 0, 0.85);
  width: 100%;
  max-width: 800px;
  height: 60px;
  padding-left: 20px;
  border-radius: 50px;
  color: blue;
}

.search-wrapper {
  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  right: 0;
  color: rgb(35, 87, 255);
  transition: all 0.2s ease;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 20px 0 8px;
  z-index: 10000;
  font-size: 32px;
}

#search {
  position: relative;
  padding: 40px 20px;
  display: flex;
  flex-direction: column;
}

.black-txt {
  color: #0a1f44;
  display: inline-block;
}

.movie-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.movie {
  width: 25%;
  padding: 24px;
}

.movie-card--container {
  margin-bottom: 8px;
  border-radius: 4px;
  overflow: hidden;
  display: flex;
}

.movie-poster {
  max-height: 380px;
  transition: all 300ms ease;
  cursor: not-allowed;
}

.movie:hover .movie-poster {
  transform: scale(1.03);
}

.movie-title {
  font-size: 20px;
  margin-bottom: 8px;
}

.movie-title:hover {
  text-decoration: underline;
  cursor: not-allowed;
}

.movie-year {
  margin-bottom: 8px;
  color: rgb(23, 23, 180);
}

.movie-id {
  text-decoration: none;
  padding-bottom: 6px;
  color: rgb(65, 161, 213);
}

.loading-state {
  margin: 80px 0;
  width: 100%;
  justify-content: center;
  display: none;
}

.movie__loading--spinner {
  display: block;
}

.loading-state.show {
  display: flex;
}

.fa-spinner {
  color: blue;
  animation: rotate-data 1s linear infinite;
  font-size: 32px;
}

@keyframes rotate-data {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#filter {
  padding: 10px;
}

footer {
  background-color: #242424;
  margin-top: 60px;
}

.footer__logo {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.16);
  margin-bottom: 8px;
}

.footer__social--list {
  margin-bottom: 28px;
  width: 100%;
  display: flex;
  justify-content: space-around;
  max-width: 500px;
}

.footer__row {
  padding: 8% 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer__social--link,
.footer__copyright,
.footer__logo--popper {
  color: #fff;
}

.footer__copyright {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__logo--popper {
  position: absolute;
  right: 0;
  top: 30px;
  font-weight: 700;
  opacity: 0;
  transition: all 300ms ease;
}

.footer__anchor {
  position: relative;
  margin-bottom: 20px;
}

.footer__anchor:hover .footer__logo--popper {
  transform: translateX(60px);
  opacity: 1;
}

@media (max-width: 768px) {
  button {
    display: block;
    right: 0;
    position: absolute;
    font-size: 18px;
  }

  .btn-menu {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .headline {
    padding: 0 24px;
  }

  .link {
    display: none;
  }

  .btn-contact {
    display: none;
  }

  h1 {
    font-size: 40px;
  }

  button {
    font-size: 18px;
  }

  .movie {
    width: 50%;
  }

  footer {
    margin-top: 60px;
  }
}

/* SMALL PHONES, LARGE SMARTPHONES */
@media (max-width: 550px) {
  button {
    display: block;
    right: 0;
    position: absolute;
    font-size: 18px;
  }

  .btn-menu {
    display: flex;
    position: relative;
    justify-content: flex-end;
  }

  .link {
    display: none;
  }

  footer {
    margin-top: 60px;
  }
}
